# Review

## Review: read CSV by pandas
* `df.groupby(col1)[col2].count()` summarize col2 according to col1 by counting
* `df.groupby(col1)[col2].mena()` summarize col2 according to col1 by calculating their average of each category
* `df.groupby([col1, col3])[col2].count()` summarize col2 according to col1 and col3 by counting

In [6]:
import pandas as pd
df = pd.read_csv('data/14196_drug_adv.csv', error_bad_lines=False)
# list(df["刊播媒體"])
df.刊播媒體類別

type_dict = {}
for item in list(df.刊播媒體類別):
    type_dict[item] = 0
for item in list(df.刊播媒體類別):
    type_dict[item] += 1
print(type_dict)

{'網路': 1479, '平面媒體': 111, '其他': 13, '廣播電台': 71, '電視': 86}

In [13]:
df.刊播媒體類別.count()

1760

In [16]:
df.groupby("刊播媒體類別").count()

        違規產品名稱  違規廠商名稱或負責人  處分機關  處分日期  處分法條  違規情節  刊播日期  刊播媒體  查處情形
刊播媒體類別
其他          13          13     0     8     4    11    13     0    13
平面媒體       111         111   111   111     6    78   111   108   111
廣播電台        71          71     0    35    15    60    71    69    71
網路        1479        1479     0  1171   561  1403  1479  1357  1477
電視          86          86     0    38    38    78    86    58    86

## Review: Convert ubike(dict of dict) to a list of json
* `df.head()` print out top 5 entries of data

In [18]:
import requests
response = requests.get('http://data.taipei/youbike').json()
all_list = []
for k, v in data["retVal"].items():
    all_list.append(v)
    
ubike_df = pd.DataFrame(all_list)
ubike_df.head()

,act,ar,aren,bemp,lat,lng,mday,sarea,sareaen,sbi,sna,snaen,sno,tot
0,1,忠孝東路/松仁路(東南側),The S.W. side of Road Zhongxiao East Road & Ro...,139,25.0408578889,121.567904444,20181017223625,信義區,Xinyi Dist.,41,捷運市政府站(3號出口),MRT Taipei City Hall Stataion(Exit 3)-2,0001,180
1,1,忠孝東路四段/光復南路口(西南側),"Sec,4. Zhongxiao E.Rd/GuangFu S. Rd",48,25.041254,121.55742,20181017223642,大安區,Daan Dist.,0,捷運國父紀念館站(2號出口),MRT S.Y.S Memorial Hall Stataion(Exit 2.),0002,48
2,1,台北市政府東門(松智路),Taipei City Government Eastgate (Song Zhi Road),21,25.0377972222,121.565169444,20181017223621,信義區,Xinyi Dist.,19,台北市政府,Taipei City Hall,0003,40
3,1,市府路/松壽路(西北側),The N.W. side of Road Shifu & Road Song Shou.,44,25.0360361111,121.562325,20181017223619,信義區,Xinyi Dist.,16,市民廣場,Citizen Square,0004,60
4,1,松仁路/松仁路95巷(東南側),"The S.E. side of Road Songren & Ln. 95, Songre...",35,25.0365638889,121.5686639,20181017223627,信義區,Xinyi Dist.,24,興雅國中,Xingya Jr. High School,0005,60

# Operations of pandas DataFrame
* `df.info()` and `df.describe()` 觀察各個變數的分佈 to check data type or get basic summary of data 。
* `pd.to_numeric(var)` 修改變數型態 to convert data type 
* `df = df.assign(new_var = old_var1 / old_var2)` 產生新的變數（方法一） to create or convert new variable. Be careful! You must assign to left to overwrite original df. 
* `df["new_var"] = df.old_var1 / df.old_var2` 產生新的變數（方法二）

In [47]:
ubike_df = ubike_df.assign(sbi = pd.to_numeric(ubike_df.sbi),\
               tot = pd.to_numeric(ubike_df.tot))
# ubike_df["ratio"] = ubike_df.sbi / ubike_df.tot
ubike_df = ubike_df.assign(test = ubike_df.sbi/ubike_df.tot)
ubike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
act        400 non-null object
ar         400 non-null object
aren       400 non-null object
bemp       400 non-null object
lat        400 non-null object
lng        400 non-null object
mday       400 non-null object
sarea      400 non-null object
sareaen    400 non-null object
sbi        400 non-null int64
sna        400 non-null object
snaen      400 non-null object
sno        400 non-null object
tot        400 non-null int64
ratio      400 non-null float64
test       400 non-null float64
dtypes: float64(2), int64(2), object(12)
memory usage: 50.1+ KB

In [46]:
ubike_df.describe()

              sbi         tot       ratio
count  400.000000  400.000000  400.000000
mean    15.355000   40.425000    0.385330
std     10.578693   13.747066    0.219208
min      0.000000   22.000000    0.000000
25%      8.000000   32.000000    0.222222
50%     14.000000   38.000000    0.384615
75%     21.000000   46.000000    0.561080
max     90.000000  180.000000    0.961538

# .groupby() to summarize data according to several variables
* Using `groupby` to summarize data by area e.g., 信義區

In [50]:
ubike_df.groupby("sarea").count()

,act,ar,aren,bemp,lat,lng,mday,sareaen,sbi,sna,snaen,sno,tot,ratio,test
sarea,,,,,,,,,,,,,,,
中山區,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46
中正區,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34
信義區,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
內湖區,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42
北投區,28,28,28,28,28,28,28,28,28,28,28,28,28,28,28
南港區,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
士林區,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36
大同區,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
大安區,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
文山區,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27
松山區,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
萬華區,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22

In [51]:
ubike_df.groupby("sarea")["tot", "sbi"].mean()

             tot        sbi
sarea
中山區    40.434783  17.304348
中正區    43.941176  14.117647
信義區    47.000000  15.763158
內湖區    37.761905  14.142857
北投區    43.500000  19.035714
南港區    36.636364  14.727273
士林區    39.222222  13.361111
大同區    36.727273  12.318182
大安區    41.916667  14.750000
文山區    37.925926  14.481481
松山區    37.257143  16.200000
萬華區    39.090909  18.090909

Convert to json
https://stackoverflow.com/questions/20638006/convert-list-of-dictionaries-to-dataframe

In [48]:
df["rm"] = pd.to_numeric(df["tot"]) - pd.to_numeric(df["sbi"])
df["rm"]

0      139
1       48
2       21
3       44
4       36
5       61
6       79
7       53
8       21
9       21
10      29
11      46
12      24
13      22
14      18
15      29
16      32
17      26
18      23
19      53
20      43
21      44
22      13
23      17
24      17
25      41
26      30
27      10
28      45
29      59
      ...
370     46
371     24
372     12
373     23
374     20
375     19
376     26
377     21
378     16
379     18
380     26
381     19
382     29
383     23
384     17
385     12
386      9
387     24
388     10
389     23
390     24
391     15
392     16
393     18
394     22
395     25
396     15
397     11
398     27
399     26
Name: rm, Length: 400, dtype: int64